.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 300px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 42px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
}


.password-box {
  position: relative;
  margin-bottom: 15px;
}

.password-box input {
  margin-bottom: 0;
  padding-right: 45 px;
}


.eye-btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  width: auto;
  color: #555;
}

.eye-btn:hover {
  color: #1877f2;
}


.login-btn {
  width: 100%;
  padding: 12px;
  background: #1877f2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background: #0056d2;
}

.login-box p {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.login-box a {
  color: #1877f2;
  text-decoration: none;
  font-weight: bold;
}

.login-box a:hover {
  text-decoration: underline;
}